@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id = "homeContent">
<p>
Welcome to AFDTest Application. You can do following things in this Application <br />
<ul>
<li>
Upload CSV File in the System. File will be uploaded onto the server and content of CSV file will be uploaded in the SQL database
</li>

<li>
View the content of the CSV file which has been uploaded in the SQL Server
</li>

<li>
Send the uploaded CSV content to the Remote API
</li>

<li>
Search the Data in SQL Server as well in Remote API
</li>

</ul>
</p>
</div>
