@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {

        var itemName = "#btnSend";
        var queryExecuting = true;
        
        $(itemName).click(function () {
            
            setInterval(function () {
                checkStatus();
            }, 5000);

            $("#apiProcessDiv").append('Processing started...');
            $(itemName).prop("disabled", true);
            $.getJSON("/Send/SendApi", null, function (data) {
                queryExecuting = false;
                $(itemName).prop("disabled", false);                
                $("#apiStatusComplete").append(data.Data);
                $("#apiProcessDiv").hide();



            })
           
            .fail(function (jqXHR, textStatus, errorThrown) { $(itemName).prop("disabled", true); alert('getJSON request failed! ' + textStatus); })
            
        });

        function checkStatus() {

            
            if (queryExecuting) {
                $("#apiProcessDiv").empty();
                $.getJSON("/Send/CheckStatus", null, function (d) {
                    $("#apiProcessDiv").append(d.Data);
                });
            }


        }
    });
</script>


@{
if (Convert.ToBoolean(ViewData["IsDataPresent"]))
    {
    <div>
<button type="button" id="btnSend"  >Send</button>
</div>
    }
    }
<div id="apiProcessDiv" style="color :Blue;">

</div>
<div id="apiStatusComplete" style="color :Red;">

</div>
<div>
@ViewData["msg"]
</div>
<div>
<p>@ViewData["Errmsg"]</p>
</div>
